body {
    overflow: hidden;
    background-color: #e8eae9;
    text-align: center; padding: 0px;
}
#wrapper{max-width:1000px; width:1000px; height: auto; margin: 0px auto; position: relative;  border: 3px; }
.int-wrapper{float: left; width: 100%; width: 1000px\9; overflow: hidden; height: 281px;}
.cont-wrapper{width: 100%;  overflow: hidden; position: relative; height: auto; display: table; overflow:hidden;  }
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .cont-wrapper{display: table-row;}
}

.arrow {
    position: absolute;
    z-index: 1202;
    
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 1;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 1;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.img img{width: 100%; height: 100%;}
.cont{width: 100%; overflow: hidden;}
.int-cont .elm{}
.row.elm{position: absolute; width: 100%; left: 0px; background: blue; top: 0px; margin: 0px;}
.row.elm .col-md-8, .row.elm .col-md-4{padding: 0px;}
.over{position: absolute; z-index: 1000; width: 100%; height: 100%; background: red; opacity: 0;filter: alpha(opacity=0);}
.nonDraggableImage{
    -webkit-user-drag: none;
}
@media (max-width: 1000px) {
    #wrapper{width: 100%;}
    .int-wrapper{height: 100%; overflow: visible;}
}

