<!DOCTYPE html>
<html ng-app="website">
<head>
    <meta charset="utf-8">
    <title>AngularJS Animate Slider</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <!--[if gte IE 8]>
    <style>
    .col-md-8{width:66.33%;  float: left;}
    .col-md-4{width: 33.3333%;  float: left;}
    </style>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="MainCtrl">
    <div id="wrapper">
        <div class="int-wrapper">
            <div class="cont-wrapper">
                <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
                <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                <div ng-repeat="item in items" class="row elm slide slide-animation nonDraggableImage" ng-swipe-right="nextSlide($event)"  
                ng-swipe-left="prevSlide($event)" ng-cloak   
                    ng-hide="!isCurrentSlideIndex($index)">
                    <div class="over"></div>
                    <div class="down">
                        <div class="col-md-8 img col"><img ng-src="images/{{item.img}}.jpg" class="img-responsive" /></div>
                        <div class="col-md-4 col-1" ng-bind-html="item.text">{{item.text}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">HOAL</div>
            <div class="col-md-4">ADIOS</div>
        </div>

    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.min.js"></script>
<script src="libs/santinize.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
